.privacy {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  overflow: hidden;
  width: 100%;
}

.privacy .iphone {
  position: relative;
}

.privacy .header {
  height: 60px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 390px !important;
}

.privacy .frame {
  height: 407px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 60px;
  width: 390px;
}

.privacy .overlap {
  height: 419px;
  position: relative;
}

.privacy .div {
  background-color: var(--neutral-10);
  height: 419px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 390px;
}

.privacy .overlap-group {
  height: 1257px;
  left: -216px;
  position: absolute;
  top: -79px;
  width: 1670px;
}

.privacy .overlap-2 {
  height: 1003px;
  left: 235px;
  position: absolute;
  top: 254px;
  width: 1435px;
}

.privacy .ellipse {
  border: 2px solid;
  border-color: var(--neutral-40);
  border-radius: 261px;
  height: 522px;
  left: 816px;
  position: absolute;
  top: 14px;
  width: 522px;
}

.privacy .ellipse-2 {
  background-color: var(--neutral-0);
  border-radius: 233px;
  height: 466px;
  left: 844px;
  position: absolute;
  top: 42px;
  width: 466px;
}

.privacy .rectangle {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(217, 217, 217, 0) 100%);
  height: 298px;
  left: 625px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: 639px;
}

.privacy .rectangle-2 {
  background-color: #d9d9d9;
  height: 498px;
  left: 0;
  position: absolute;
  top: 505px;
  width: 1435px;
}

.privacy .overlap-group-2 {
  height: 598px;
  left: 0;
  position: absolute;
  top: 0;
  width: 637px;
}

.privacy .businessman-logging {
  height: 409px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 637px;
}

.privacy .rectangle-3 {
  background: linear-gradient(180deg, rgb(255, 255, 255) 33.86%, rgba(217, 217, 217, 0) 100%);
  height: 394px;
  left: 154px;
  position: absolute;
  top: 141px;
  transform: rotate(-90deg);
  width: 519px;
}

.privacy .img {
  height: 436px;
  left: -12535px;
  object-fit: cover;
  position: absolute;
  top: -11239px;
  width: 436px;
}

.privacy .frame-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 16px;
  padding: 0px 54px;
  position: absolute;
  top: 60px;
  width: 358px;
}

.privacy .text-wrapper-2 {
  color: #2e5053;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 36px;
  font-weight: 700;
  height: 80px;
  letter-spacing: -1.08px;
  line-height: 36.5px;
  margin-left: -92px;
  margin-right: -92px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 434px;
}

.privacy .p {
  color: #353535;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.16px;
  line-height: 22.4px;
  margin-left: -16px;
  margin-right: -16px;
  position: relative;
  text-align: center;
  width: 282px;
}

.privacy .frame-3 {
  align-items: center;
  background-color: #2e5053;
  display: flex;
  flex-direction: column;
  gap: 36px;
  left: 0;
  padding: 54px 24px;
  position: absolute;
  top: 467px;
  width: 394px;
}

.privacy .text-wrapper-3 {
  align-self: stretch;
  color: #d2d4d5;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.48px;
  line-height: 38.4px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.privacy .text-wrapper-4 {
  align-self: stretch;
  color: #f6f7f8;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.22px;
  line-height: 30.8px;
  position: relative;
  text-align: center;
}

.privacy .overlap-3 {
  position: absolute;
}

.privacy .rectangle-4 {
  background-color: #cecfd1;
  height: 475px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1440px;
}

.privacy .rectangle-5 {
  background-color: #2e5053;
  height: 477px;
  left: 0;
  position: absolute;
  top: 473px;
  width: 1440px;
}

.privacy .text-wrapper-5 {
  color: #f6f7f8;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 25px;
  font-weight: 400;
  height: 105px;
  left: 157px;
  letter-spacing: -0.25px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 660px;
  width: 1125px;
}

.privacy .text-wrapper-6 {
  color: #d2d4d5;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 50px;
  font-weight: 600;
  height: 60px;
  left: 394px;
  letter-spacing: -0.75px;
  line-height: 60px;
  position: absolute;
  top: 564px;
  width: 659px;
}

.privacy .ellipse-3 {
  background-color: #2e5053;
  border-radius: 38.5px;
  height: 77px;
  left: 0;
  position: absolute;
  top: 0;
  width: 77px;
}

.privacy .hand-holding-cloud {
  object-fit: cover;
  position: absolute;
}

.privacy .rectangle-6 {
  height: 472px;
  left: 9px;
  position: absolute;
  top: 1px;
  width: 1431px;
}

.privacy .text-wrapper-7 {
  color: var(--secondary-04);
  font-family: "Source Sans Pro", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 112px;
  left: 80px;
  letter-spacing: -0.2px;
  line-height: 28px;
  position: absolute;
  top: 203px;
  width: 670px;
}

.privacy .text-wrapper-8 {
  color: #2e5053;
  font-family: var(--title-mega-font-family);
  font-size: var(--title-mega-font-size);
  font-style: var(--title-mega-font-style);
  font-weight: var(--title-mega-font-weight);
  height: 80px;
  left: 80px;
  letter-spacing: var(--title-mega-letter-spacing);
  line-height: var(--title-mega-line-height);
  position: absolute;
  top: 96px;
  width: 434px;
}

.privacy .frame-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 69px;
  left: 24px;
  position: absolute;
  top: 1412px;
  width: 346px;
}

.privacy .frame-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 100%;
}

.privacy .text-wrapper-9 {
  align-self: stretch;
  color: #1f1f1f;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -0.75px;
  line-height: 60px;
  margin-top: -1px;
  position: relative;
}

.privacy .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 100%;
}

.privacy .frame-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  position: relative;
  width: 100%;
}

.privacy .text-wrapper-10 {
  align-self: stretch;
  color: #1f1f1f;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -0.53px;
  line-height: 49px;
  margin-top: -1px;
  position: relative;
}

.privacy .div-2 {
  align-self: stretch;
  color: #1f1f1f;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 28px;
  position: relative;
}

.privacy .frame-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 21px;
  position: relative;
  width: 100%;
}

.privacy .span {
  font-weight: 600;
}

.privacy .text-wrapper-11 {
  color: #1f1f1f;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 28px;
}

.privacy .frame-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.privacy .footer {
  background-color: var(--white);
  height: 860px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 3958px;
  width: 390px;
}

.privacy .overlap-4 {
  height: 907px;
  position: relative;
  width: 390px;
}

.privacy .frame-10 {
  background-color: var(--neutral-90);
  height: 907px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.privacy .frame-11 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 26px;
  position: absolute;
  top: 115px;
}

.privacy .text-wrapper-12 {
  color: var(--neutral-0);
  font-family: var(--paragraph-ALCPS-font-family);
  font-size: var(--paragraph-ALCPS-font-size);
  font-style: var(--paragraph-ALCPS-font-style);
  font-weight: var(--paragraph-ALCPS-font-weight);
  letter-spacing: var(--paragraph-ALCPS-letter-spacing);
  line-height: var(--paragraph-ALCPS-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.privacy .text-wrapper-13 {
  color: #f6f7f8;
  font-family: var(--paragraph-REG-font-family);
  font-size: var(--paragraph-REG-font-size);
  font-style: var(--paragraph-REG-font-style);
  font-weight: var(--paragraph-REG-font-weight);
  letter-spacing: var(--paragraph-REG-letter-spacing);
  line-height: var(--paragraph-REG-line-height);
  position: relative;
  width: 324px;
}

.privacy .DIV {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 195px;
  position: absolute;
  top: 272px;
  width: 113px;
}

.privacy .text-wrapper-14 {
  color: var(--white);
  font-family: var(--h6-REG-font-family);
  font-size: var(--h6-REG-font-size);
  font-style: var(--h6-REG-font-style);
  font-weight: var(--h6-REG-font-weight);
  letter-spacing: var(--h6-REG-letter-spacing);
  line-height: var(--h6-REG-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.privacy .text-wrapper-15 {
  color: var(--white);
  font-family: var(--h6-REG-font-family);
  font-size: var(--h6-REG-font-size);
  font-style: var(--h6-REG-font-style);
  font-weight: var(--h6-REG-font-weight);
  letter-spacing: var(--h6-REG-letter-spacing);
  line-height: var(--h6-REG-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.privacy .DIV-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 26px;
  position: absolute;
  top: 272px;
  width: 113px;
}

.privacy .frame-12 {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 69px;
  position: absolute;
  top: 583px;
}

.privacy .group {
  height: 52px;
  position: relative;
  width: 37px;
}

.privacy .text-wrapper-16 {
  color: var(--white);
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 14px;
  left: 1px;
  letter-spacing: -0.1px;
  line-height: 14px;
  position: absolute;
  text-decoration: underline;
  top: 38px;
  white-space: nowrap;
}

.privacy .face-book {
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.privacy .frame-13 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.privacy .linkedin {
  flex: 0 0 auto;
  position: relative;
}

.privacy .text-wrapper-17 {
  color: var(--white);
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 14px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.privacy .facebook {
  height: 35px;
  position: relative;
  width: 35px;
}

.privacy .frame-14 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.privacy .logo {
  height: 56px;
  left: 24px;
  position: absolute;
  top: 39px;
  width: 116px;
}

.privacy .frame-wrapper {
  height: 64px;
  left: 48px;
  position: absolute;
  top: 732px;
  width: 295px;
}

.privacy .frame-15 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  position: relative;
  width: 295px;
}

.privacy .text-wrapper-18 {
  align-self: stretch;
  color: var(--grey-01);
  font-family: var(--labels-captions-REG-font-family);
  font-size: var(--labels-captions-REG-font-size);
  font-style: var(--labels-captions-REG-font-style);
  font-weight: var(--labels-captions-REG-font-weight);
  letter-spacing: var(--labels-captions-REG-letter-spacing);
  line-height: var(--labels-captions-REG-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.privacy .ellipse-4 {
  background-color: var(--grey-01);
  border-radius: 1px/1.5px;
  height: 3px;
  position: relative;
  width: 2px;
}

.privacy .text-wrapper-19 {
  align-self: stretch;
  color: var(--grey-01);
  font-family: var(--labels-captions-REG-font-family);
  font-size: var(--labels-captions-REG-font-size);
  font-style: var(--labels-captions-REG-font-style);
  font-weight: var(--labels-captions-REG-font-weight);
  letter-spacing: var(--labels-captions-REG-letter-spacing);
  line-height: var(--labels-captions-REG-line-height);
  position: relative;
  text-align: center;
}

.privacy .examples-of-cookies {
  color: #1f1f1f;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 35px;
  font-weight: 400;
  height: 253px;
  left: 80px;
  letter-spacing: -0.35px;
  line-height: 49px;
  position: absolute;
  top: 2677px;
  width: 1086px;
}

.privacy .text-wrapper-20 {
  font-family: var(--h4-REG-font-family);
  font-size: var(--h4-REG-font-size);
  font-style: var(--h4-REG-font-style);
  font-weight: var(--h4-REG-font-weight);
  letter-spacing: var(--h4-REG-letter-spacing);
  line-height: var(--h4-REG-line-height);
}

.privacy .text-wrapper-21 {
  font-size: 29px;
  letter-spacing: -0.29px;
  line-height: 40.6px;
}

.privacy .frame-16 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
  left: 80px;
  position: absolute;
  top: 1136px;
}

.privacy .text-wrapper-22 {
  color: #1f1f1f;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -0.75px;
  line-height: 60px;
  margin-top: -1px;
  position: relative;
  width: 645px;
}

.privacy .frame-17 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
}

.privacy .frame-18 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  position: relative;
}

.privacy .text-wrapper-23 {
  color: #1f1f1f;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -0.53px;
  line-height: 49px;
  margin-top: -1px;
  position: relative;
  width: 645px;
}

.privacy .we-may-ask-you-to {
  color: #1f1f1f;
  font-family: var(--h4-REG-font-family);
  font-size: var(--h4-REG-font-size);
  font-style: var(--h4-REG-font-style);
  font-weight: var(--h4-REG-font-weight);
  letter-spacing: var(--h4-REG-letter-spacing);
  line-height: var(--h4-REG-line-height);
  position: relative;
  width: 724px;
}

.privacy .email-address-first {
  color: #1f1f1f;
  font-family: var(--h4-REG-font-family);
  font-size: var(--h4-REG-font-size);
  font-style: var(--h4-REG-font-style);
  font-weight: var(--h4-REG-font-weight);
  letter-spacing: var(--h4-REG-letter-spacing);
  line-height: var(--h4-REG-line-height);
  position: relative;
  width: 380px;
}

.privacy .frame-19 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 21px;
  left: 80px;
  position: absolute;
  top: 1741px;
}

.privacy .we-may-also-collect {
  color: #1f1f1f;
  font-family: var(--h4-REG-font-family);
  font-size: var(--h4-REG-font-size);
  font-style: var(--h4-REG-font-style);
  font-weight: var(--h4-REG-font-weight);
  letter-spacing: var(--h4-REG-letter-spacing);
  line-height: var(--h4-REG-line-height);
  position: relative;
  width: 1086px;
}

.privacy .frame-20 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 80px;
  position: absolute;
  top: 2096px;
}

.privacy .we-use-cookies-and {
  color: #1f1f1f;
  font-family: var(--h4-REG-font-family);
  font-size: var(--h4-REG-font-size);
  font-style: var(--h4-REG-font-style);
  font-weight: var(--h4-REG-font-weight);
  letter-spacing: var(--h4-REG-letter-spacing);
  line-height: var(--h4-REG-line-height);
  position: relative;
  width: 1054px;
}

.privacy .frame-21 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 80px;
  position: absolute;
  top: 2979px;
}

.privacy .to-provide-and {
  color: #1f1f1f;
  font-family: var(--h4-REG-font-family);
  font-size: var(--h4-REG-font-size);
  font-style: var(--h4-REG-font-style);
  font-weight: var(--h4-REG-font-weight);
  letter-spacing: var(--h4-REG-letter-spacing);
  line-height: var(--h4-REG-line-height);
  position: relative;
  width: 1119px;
}

.privacy .overlap-5 {
  height: 572px;
  left: 863px;
  position: absolute;
  top: 1091px;
  width: 458px;
}

.privacy .ellipse-5 {
  background-color: #2e5053;
  border-radius: 77.5px;
  height: 155px;
  left: 0;
  position: absolute;
  top: 0;
  width: 155px;
}

.privacy .hand-holding-cloud-2 {
  height: 509px;
  left: 64px;
  object-fit: cover;
  position: absolute;
  top: 63px;
  width: 394px;
}

.privacy .header-2 {
  align-items: center;
  background-color: #f6f7f8;
  display: flex;
  justify-content: space-between;
  left: 9px;
  padding: 16px 80px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.privacy .logo-2 {
  height: 56.67px;
  position: relative;
  width: 116px;
}

.privacy .holder {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.privacy .div-wrapper {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 8px;
  position: relative;
  width: 90.33px;
}

.privacy .text-wrapper-24 {
  color: var(--neutral-90);
  font-family: var(--subtitle-MED-font-family);
  font-size: var(--subtitle-MED-font-size);
  font-style: var(--subtitle-MED-font-style);
  font-weight: var(--subtitle-MED-font-weight);
  letter-spacing: var(--subtitle-MED-letter-spacing);
  line-height: var(--subtitle-MED-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.privacy .text-wrapper-25 {
  color: var(--neutral-90);
  font-family: var(--subtitle-MED-font-family);
  font-size: var(--subtitle-MED-font-size);
  font-style: var(--subtitle-MED-font-style);
  font-weight: var(--subtitle-MED-font-weight);
  letter-spacing: var(--subtitle-MED-letter-spacing);
  line-height: var(--subtitle-MED-line-height);
  margin-left: -2.83px;
  margin-right: -2.83px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.privacy .frame-22 {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 8px;
  position: relative;
  width: 80px;
}

.privacy .CTA-instance {
  border-color: var(--primary-02) !important;
  flex: 0 0 auto !important;
}

.privacy .instance-node {
  color: var(--primary-02) !important;
}

.privacy .overlap-group-wrapper {
  background-color: var(--white);
  height: 292px;
  left: 4px;
  position: absolute;
  top: 3420px;
  width: 1441px;
}

.privacy .overlap-group-3 {
  height: 292px;
  position: relative;
  width: 1441px;
}

.privacy .frame-23 {
  background-color: var(--neutral-90);
  height: 292px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1441px;
}

.privacy .DIV-3 {
  align-items: flex-start;
  display: inline-flex;
  gap: 32px;
  justify-content: center;
  left: 738px;
  position: absolute;
  top: 53px;
}

.privacy .text-wrapper-26 {
  color: var(--white);
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 14px;
  left: 1233px;
  letter-spacing: -0.1px;
  line-height: 14px;
  position: absolute;
  text-decoration: underline;
  top: 190px;
  white-space: nowrap;
}

.privacy .text-wrapper-27 {
  color: var(--white);
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 14px;
  left: 1282px;
  letter-spacing: -0.1px;
  line-height: 14px;
  position: absolute;
  text-decoration: underline;
  top: 190px;
  white-space: nowrap;
}

.privacy .text-wrapper-28 {
  color: var(--white);
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 14px;
  left: 1331px;
  letter-spacing: -0.1px;
  line-height: 14px;
  position: absolute;
  text-decoration: underline;
  top: 190px;
  white-space: nowrap;
}

.privacy .text-wrapper-29 {
  color: var(--white);
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 14px;
  left: 1187px;
  letter-spacing: -0.1px;
  line-height: 14px;
  position: absolute;
  text-decoration: underline;
  top: 190px;
  white-space: nowrap;
}

.privacy .text-wrapper-30 {
  color: var(--white);
  font-family: var(--h6-REG-font-family);
  font-size: var(--h6-REG-font-size);
  font-style: var(--h6-REG-font-style);
  font-weight: var(--h6-REG-font-weight);
  height: 28px;
  left: 738px;
  letter-spacing: var(--h6-REG-letter-spacing);
  line-height: var(--h6-REG-line-height);
  position: absolute;
  top: 100px;
  white-space: nowrap;
}

.privacy .text-wrapper-31 {
  color: var(--white);
  font-family: var(--h6-REG-font-family);
  font-size: var(--h6-REG-font-size);
  font-style: var(--h6-REG-font-style);
  font-weight: var(--h6-REG-font-weight);
  height: 28px;
  left: 869px;
  letter-spacing: var(--h6-REG-letter-spacing);
  line-height: var(--h6-REG-line-height);
  position: absolute;
  top: 100px;
  white-space: nowrap;
}

.privacy .frame-24 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 81px;
  position: absolute;
  top: 115px;
}

.privacy .group-2 {
  height: 52px;
  left: 1140px;
  position: absolute;
  top: 152px;
  width: 37px;
}

.privacy .linkedin-2 {
  height: 35px;
  left: 1187px;
  position: absolute;
  top: 152px;
  width: 35px;
}

.privacy .facebook-2 {
  height: 35px;
  left: 1234px;
  position: absolute;
  top: 152px;
  width: 35px;
}

.privacy .facebook-3 {
  height: 35px;
  left: 1281px;
  position: absolute;
  top: 152px;
  width: 35px;
}

.privacy .facebook-4 {
  height: 35px;
  left: 1328px;
  position: absolute;
  top: 152px;
  width: 35px;
}

.privacy .group-3 {
  height: 17px;
  left: 501px;
  position: absolute;
  top: 242px;
  width: 400px;
}

.privacy .frame-25 {
  align-items: center;
  display: inline-flex;
  gap: 5px;
  justify-content: center;
  position: relative;
}

.privacy .text-wrapper-32 {
  color: var(--grey-01);
  font-family: var(--labels-captions-REG-font-family);
  font-size: var(--labels-captions-REG-font-size);
  font-style: var(--labels-captions-REG-font-style);
  font-weight: var(--labels-captions-REG-font-weight);
  letter-spacing: var(--labels-captions-REG-letter-spacing);
  line-height: var(--labels-captions-REG-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.privacy .ellipse-6 {
  background-color: var(--grey-01);
  border-radius: 1.5px;
  height: 3px;
  position: relative;
  width: 3px;
}

.privacy .logo-3 {
  height: 56px;
  left: 76px;
  position: absolute;
  top: 39px;
  width: 116px;
}
