
.mobile-only{
    display: none;
}

body{
    overflow-x: hidden;
}

/* @media (max-width: 450px) {
    .desktop-only{
        display: none !important;
    }
    .mobile-only{
        display: block !important;
    }
}

*/
.next-button{
    background: #fff;
    outline: none;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
}