.mobile-only {
    display: none !important;
}

.display-content {
    display: contents !important;
}

body {
    overflow-x: hidden;
}

.error {
    color: red;
    font-family: "Source Sans Pro", Helvetica;
    font-size: 12px;
    margin: -22px 0 -15px 0;
}

.error-2 {
    color: red;
    font-family: "Source Sans Pro", Helvetica;
    font-size: 12px;
    margin-top: 5px;
}

.error-1 {
    color: red;
    font-family: "Source Sans Pro", Helvetica;
    font-size: 12px;
    margin-top: -10px;
}


.next-button {
    background: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
}

@media (max-width: 450px) {
    .mobile-only {
        display: block !important;
    }

    .desktop-only {
        display: none !important;
    }
}